<a href="https://colab.research.google.com/github/Rommanahad/Web-scraping-and-EDA/blob/main/Explanatory_data_analysis_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing relevant modules
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

In [ ]:
 y=['Average temperature','Average humidity','Average dewpoint','Average barometer','Average windspeed', 'Average gustspeed', 'Average direction',
   'Rainfall for month','Rainfall for year','Maximum rain per minute',
   'Maximum temperature','Minimum temperature','Maximum humidity','Minimum humidity',
   'Maximum pressure','Minimum pressure','Maximum windspeed','Maximum gust speed'
    ,'Maximum heat index']
list_of_dataframe=[]

dates=[201901,201902,201903,201904,201905,201906,201907,201908,201909,201910,201911,201912]

for date in dates:
    url="http://www.estesparkweather.net/archive_reports.php?date="+str(date)
    soup=bs(requests.get(url).content)
    all_columns=soup.find('table').find_all('td')
    columns=[c.string for c in all_columns]
    final_columns=[] 
    for x in y:
        R=[k for k in columns if  x  in k]
        final_columns=final_columns+R
    
    rows= [x for x in columns if x not in final_columns]
    final_rows=rows[1:]
    
    all_tables=soup.find_all('table')
    g=[p.find_all('td') for p in all_tables]
    all_rows= [[x for x in y if x not in final_columns] for y in rows]
    rows =[[k.string for k in L] for L in g]
    all_rows= [[x for x in y if x not in final_columns] for y in rows]
    
    if date == 201912:
        dataframe=pd.DataFrame(all_rows[:-10],columns=['date']+final_columns)
    else:
        dataframe=pd.DataFrame(all_rows[:-9],columns=['date']+final_columns)
    dataframe['date'] =dataframe['date'].str.strip("Average and Extremes")
    dataframe['date'] =dataframe['date'].add(" 2019")

    list_of_dataframe.append(dataframe)

In [ ]:
weather_2019= pd.concat(list_of_dataframe)
weather_2019=weather_2019.reset_index(drop=True)

In [ ]:
weather_2019.head()

         date  ...               Maximum heat index
0  Jan 1 2019  ...   20.0°F on day 01 at time 14:53
1  Jan 2 2019  ...   41.3°F on day 02 at time 13:26
2  Jan 3 2019  ...   54.2°F on day 03 at time 14:31
3  Jan 4 2019  ...   55.1°F on day 04 at time 12:58
4  Jan 5 2019  ...   54.5°F on day 05 at time 13:03

[5 rows x 20 columns]

In [ ]:
weather_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359 entries, 0 to 358
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     359 non-null    object
 1   Average temperature      359 non-null    object
 2   Average humidity         359 non-null    object
 3   Average dewpoint         359 non-null    object
 4   Average barometer        359 non-null    object
 5   Average windspeed        359 non-null    object
 6   Average gustspeed        359 non-null    object
 7   Average direction        359 non-null    object
 8   Rainfall for month       359 non-null    object
 9   Rainfall for year        359 non-null    object
 10  Maximum rain per minute  359 non-null    object
 11  Maximum temperature      359 non-null    object
 12  Minimum temperature      359 non-null    object
 13  Maximum humidity         359 non-null    object
 14  Minimum humidity         359 non-null    object
 15  Maximum pressure         359 non-null    object
 16  Minimum pressure         359 non-null    object
 17  Maximum windspeed        359 non-null    object
 18  Maximum gust speed       359 non-null    object
 19  Maximum heat index       359 non-null    object
dtypes: object(20)
memory usage: 56.2+ KB

In [ ]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [ ]:
## Remove unwanted colomns

weather_2019 = weather_2019.drop(['Rainfall for month', 'Rainfall for year',
       'Maximum rain per minute', 'Maximum temperature', 'Minimum temperature',
       'Maximum humidity', 'Minimum humidity', 'Maximum pressure',
       'Minimum pressure', 'Maximum windspeed', 'Maximum gust speed',
       'Maximum heat index','Average direction'], axis=1)

In [ ]:
weather_2019.head()

,date,Average temperature,Average humidity,Average dewpoint,Average barometer,Average windspeed,Average gustspeed
0,Jan 1 2019,2.4°F,67%,-6.5°F,30.4 in.,0.2 mph,0.4 mph
1,Jan 2 2019,13.7°F,57%,-0.8°F,30.3 in.,0.4 mph,0.7 mph
2,Jan 3 2019,31.9°F,45%,10.0°F,30.0 in.,3.3 mph,5.1 mph
3,Jan 4 2019,44.0°F,24%,9.1°F,29.8 in.,10.0 mph,13.8 mph
4,Jan 5 2019,43.7°F,25%,7.9°F,29.8 in.,6.4 mph,9.4 mph

In [ ]:
#Stripping strings from values in dataframe in order to convert to numeric values at a latter stage
weather_2019['Average temperature']=weather_2019['Average temperature'].str.strip('°F')
weather_2019['Average humidity']=weather_2019['Average humidity'].str.strip('°%')
weather_2019['Average dewpoint']=weather_2019['Average dewpoint'].str.strip('°F')
weather_2019['Average barometer']=weather_2019['Average barometer'].str.strip(' in.')
weather_2019['Average windspeed']=weather_2019['Average windspeed'].str.strip(' mph')
weather_2019['Average gustspeed']=weather_2019['Average gustspeed'].str.strip(' mph')

In [ ]:
weather_2019 = weather_2019.rename({'Average temperature':'Average temperature(°F)','Average humidity':'Average humidity(°%)','Average dewpoint':'Average dewpoint(°F)','Average barometer':'Average barometer(in.)','Average windspeed':'Average windspeed(mph)','Average gustspeed':'Average gustspeed(mph)'}, axis=1)

In [ ]:
#make all values in datafram numeric
weather_2019[['Average temperature(°F)','Average humidity(°%)','Average dewpoint(°F)','Average barometer(in.)',	'Average windspeed(mph)',	'Average gustspeed(mph)']]= weather_2019[['Average temperature(°F)','Average humidity(°%)','Average dewpoint(°F)','Average barometer(in.)',	'Average windspeed(mph)',	'Average gustspeed(mph)']].apply(pd.to_numeric)

In [ ]:
weather_2019.head()

,date,Average temperature(°F),Average humidity(°%),Average dewpoint(°F),Average barometer(in.),Average windspeed(mph),Average gustspeed(mph)
0,Jan 1 2019,2.4,67,-6.5,30.4,0.2,0.4
1,Jan 2 2019,13.7,57,-0.8,30.3,0.4,0.7
2,Jan 3 2019,31.9,45,10.0,30.0,3.3,5.1
3,Jan 4 2019,44.0,24,9.1,29.8,10.0,13.8
4,Jan 5 2019,43.7,25,7.9,29.8,6.4,9.4

In [ ]:
def insert_row(y,first_dataframe,second_dataframe):
    first_section=first_dataframe[:y]
    third_section=first_dataframe[y:]
    second_section=second_dataframe
    list=[first_section,second_section,third_section]
    full_dataframe=pd.concat(list)
    full_dataframe=full_dataframe.reset_index(drop=True)
    return full_dataframe

In [ ]:
#Find the mean values of january in order to impute missing values
january=weather_2019[:27]
mean_january_2019 = january[['Average temperature(°F)','Average humidity(°%)','Average dewpoint(°F)','Average barometer(in.)',	'Average windspeed(mph)',	'Average gustspeed(mph)']].mean()
mean_january_2019

Average temperature(°F)    28.648148
Average humidity(°%)       45.185185
Average dewpoint(°F)        7.818519
Average barometer(in.)     29.981481
Average windspeed(mph)      7.422222
Average gustspeed(mph)     10.629630
dtype: float64

In [ ]:
#Created dataframe of missing values in order to splice into the entire weather_2019 dataframe
data = {'date': ['Jan 9 2019','Jan 10 2019','Jan 11 2019'],
        'Average temperature(°F)':[28.6,28.6,28.6],
        'Average humidity(°%)':[45.2,45.2,45.2],
        'Average dewpoint(°F)':[7.8,7.8,7.8],
        'Average barometer(in.)':[30.0,30.0,30.0],
        'Average windspeed(mph)': [7.4,7.4,7.4], 
        'Average gustspeed(mph)': [10.6,10.6,10.6]
        
        }

Missing_values_january = pd.DataFrame(data,columns=['date','Average temperature(°F)','Average humidity(°%)','Average dewpoint(°F)','Average barometer(in.)',	'Average windspeed(mph)',	'Average gustspeed(mph)'])
Missing_values_january

,date,Average temperature(°F),Average humidity(°%),Average dewpoint(°F),Average barometer(in.),Average windspeed(mph),Average gustspeed(mph)
0,Jan 9 2019,28.6,45.2,7.8,30.0,7.4,10.6
1,Jan 10 2019,28.6,45.2,7.8,30.0,7.4,10.6
2,Jan 11 2019,28.6,45.2,7.8,30.0,7.4,10.6

In [ ]:
#Adding missing values into the dataframe
weather_2019=insert_row(8,weather_2019,Missing_values_january)

In [ ]:
#Find the mean values of march in order to impute missing values
march=weather_2019[59:88]
mean_march_2019 = march[['Average temperature(°F)','Average humidity(°%)','Average dewpoint(°F)','Average barometer(in.)',	'Average windspeed(mph)',	'Average gustspeed(mph)']].mean()
mean_march_2019

Average temperature(°F)    30.289655
Average humidity(°%)       56.275862
Average dewpoint(°F)       14.268966
Average barometer(in.)     29.986207
Average windspeed(mph)      4.641379
Average gustspeed(mph)      6.996552
dtype: float64

In [ ]:
#Created dataframe of missing values in order to splice into the entire weather_2019 dataframe
data = {'date': ['Mar 1 2019'],
        'Average temperature(°F)':[30.3],
        'Average humidity(°%)':[56.3],
        'Average dewpoint(°F)':[14.3],
        'Average barometer(in.)':[30.0],
        'Average windspeed(mph)': [4.6], 
        'Average gustspeed(mph)': [7.0]
        
        }

Missing_values_march = pd.DataFrame(data,columns=['date','Average temperature(°F)','Average humidity(°%)','Average dewpoint(°F)','Average barometer(in.)',	'Average windspeed(mph)',	'Average gustspeed(mph)'])
Missing_values_march

,date,Average temperature(°F),Average humidity(°%),Average dewpoint(°F),Average barometer(in.),Average windspeed(mph),Average gustspeed(mph)
0,Mar 1 2019,30.3,56.3,14.3,30.0,4.6,7.0

In [ ]:
weather_2019=insert_row(59,weather_2019,Missing_values_march)

In [ ]:
#Find the mean values of march in order to impute missing values
june=weather_2019[151:179]

mean_june_2019 = june[['Average temperature(°F)','Average humidity(°%)','Average dewpoint(°F)','Average barometer(in.)',	'Average windspeed(mph)',	'Average gustspeed(mph)']] .mean()
mean_june_2019

Average temperature(°F)    55.800000
Average humidity(°%)       55.178571
Average dewpoint(°F)       37.289286
Average barometer(in.)     29.746429
Average windspeed(mph)      3.503571
Average gustspeed(mph)      5.303571
dtype: float64

In [ ]:
#Created dataframe of missing values in order to splice into the entire weather_2019 dataframe
data = {'date': ['Jun 24 2019','Jun 25 2019'],
   'Average temperature(°F)':[55.4,55.4],
        'Average humidity(°%)':[54.9,54.9],
        'Average dewpoint(°F)':[36.8,36.8],
        'Average barometer(in.)':[30.0,30.0],
        'Average windspeed(mph)': [3.5,3.5], 
        'Average gustspeed(mph)': [5.3,5.3]
        
        }


Missing_values_june = pd.DataFrame(data,columns=['date','Average temperature(°F)','Average humidity(°%)','Average dewpoint(°F)','Average barometer(in.)',	'Average windspeed(mph)',	'Average gustspeed(mph)'])
Missing_values_june

,date,Average temperature(°F),Average humidity(°%),Average dewpoint(°F),Average barometer(in.),Average windspeed(mph),Average gustspeed(mph)
0,Jun 24 2019,55.4,54.9,36.8,30.0,3.5,5.3
1,Jun 25 2019,55.4,54.9,36.8,30.0,3.5,5.3

In [ ]:
weather_2019=insert_row(174,weather_2019,Missing_values_june)

In [ ]:
weather_2019.shape

(365, 7)

In [ ]:
#reorganize dates and making it the index
weather_2019['date']=pd.date_range(start='1/1/2019', end='31/12/2019')
weather_2019 = weather_2019.set_index('date')
weather_2019.head()

,Average temperature(°F),Average humidity(°%),Average dewpoint(°F),Average barometer(in.),Average windspeed(mph),Average gustspeed(mph)
date,,,,,,
2019-01-01,2.4,67.0,-6.5,30.4,0.2,0.4
2019-01-02,13.7,57.0,-0.8,30.3,0.4,0.7
2019-01-03,31.9,45.0,10.0,30.0,3.3,5.1
2019-01-04,44.0,24.0,9.1,29.8,10.0,13.8
2019-01-05,43.7,25.0,7.9,29.8,6.4,9.4

In [ ]:
weather_2019.to_excel("weather_2019_clean_data.xlsx")

In [ ]:
#refrences
#https://www.geeksforgeeks.org/insert-row-at-given-position-in-pandas-dataframe/
#https://towardsdatascience.com/weather-data-collection-web-scraping-using-python-a4189e7a2ee6